.fxt-template-layout2 {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout2 {
    padding: 15px;
  }
}
.fxt-template-layout2 .fxt-checkbox-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fxt-template-layout2 .fxt-bg-color {
  background-color: #ffffff;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.fxt-template-layout2 .fxt-bg-img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
}
/* FIX */

.fxt-template-layout2 .fxt-content {
  padding: 50px 65px 70px 80px;
  width: 100%;
  -webkit-box-shadow: 3px 0 79px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 3px 0 79px 0 rgba(0, 0, 0, 0.08);
}
@media only screen and (max-width: 1199px) {
  .fxt-template-layout2 .fxt-content {
    padding: 100px 35px 70px 50px;
  }
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout2 .fxt-content {
    padding: 100px 70px 70px 70px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template-layout2 .fxt-content {
    padding: 80px 50px 50px 50px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template-layout2 .fxt-content {
    padding: 60px 30px 30px 30px;
  }
}
@media only screen and (max-width: 479px) {
  .fxt-template-layout2 .fxt-content {
    padding: 50px 20px 20px 20px;
  }
}
.fxt-template-layout2 .fxt-header {
  text-align: center;
}
.fxt-template-layout2 .fxt-logo {
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 40vw;
}
.fxt-template-layout2 .fxt-form .form-group {
  position: relative;
  z-index: 1;
}

.fxt-template-layout2 .fxt-form .form-control {
  min-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: solid 2px #D5DBDB;
  padding: 10px 15px;
  color: #111111;
}
.fxt-template-layout2 .fxt-form input::-webkit-input-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout2 .fxt-form input::-moz-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout2 .fxt-form input:-moz-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout2 .fxt-form input:-ms-input-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout2 .fxt-btn-fill {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 0;
  /*color: #fff;
  border-radius: 3px;*/
  background-color: #59BA41;
  padding: 10px 36px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);

  border-radius: 3px; 
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-style: solid; 
  border-width: 1px; 
  color: #fff;

  /*test*/
}
.fxt-template-layout2 .fxt-btn-fill:hover {
  background-color: #007bff;
  /*border-color: #da0000;*/
  border-radius: 3px; 
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-style: solid; 
  border-width: 1px; 
  color: #fff;



}
.fxt-template-layout2 .fxt-btn-fill:focus {
  outline: none;
}
.fxt-template-layout2 .switcher-text {
  color: #63bbff;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout2 .switcher-text:hover {
  color: #000000;
}
.fxt-template-layout2 .switcher-text2 {
  color: #63bbff;
  font-size: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout2 .switcher-text2.inline-text {
  margin-left: 3px;
}
.fxt-template-layout2 .switcher-text2:hover {
  color: #000000;
}
.fxt-template-layout2 .fxt-style-line {
  overflow: hidden;
  text-align: center;
}
.fxt-template-layout2 .fxt-style-line h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 20px;
  color: #a4a4a4;
  display: inline-block;
  position: relative;
  padding: 0 25px;
  z-index: 1;
}
.fxt-template-layout2 .fxt-style-line h2:before {
  display: inline-block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ebebeb;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
}
.fxt-template-layout2 .fxt-style-line h2:after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ebebeb;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
}
.fxt-template-layout2 ul.fxt-socials {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: -5px;
  margin-left: -5px;
  margin-bottom: 20px;
}
.fxt-template-layout2 ul.fxt-socials li {
  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 575px) {
  .fxt-template-layout2 ul.fxt-socials li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 350px) {
  .fxt-template-layout2 ul.fxt-socials li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
.fxt-template-layout2 ul.fxt-socials li a {
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  height: 45px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout2 ul.fxt-socials li a i {
  border-radius: 2px 0 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}
.fxt-template-layout2 ul.fxt-socials li a span {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.fxt-template-layout2 ul.fxt-socials li.fxt-facebook a {
  background-color: #3b5998;
}
.fxt-template-layout2 ul.fxt-socials li.fxt-facebook a i {
  background-color: #4867aa;
}
.fxt-template-layout2 ul.fxt-socials li.fxt-facebook a:hover {
  background-color: #5676bb;
}
.fxt-template-layout2 ul.fxt-socials li.fxt-twitter a {
  background-color: #00acee;
}
.fxt-template-layout2 ul.fxt-socials li.fxt-twitter a i {
  background-color: #33ccff;
}
.fxt-template-layout2 ul.fxt-socials li.fxt-twitter a:hover {
  background-color: #3dc5f3;
}
.fxt-template-layout2 ul.fxt-socials li.fxt-google a {
  background-color: #CC3333;
}
.fxt-template-layout2 ul.fxt-socials li.fxt-google a i {
  background-color: #db4437;
}
.fxt-template-layout2 ul.fxt-socials li.fxt-google a:hover {
  background-color: #e75042;
}
.fxt-template-layout2 .checkbox {
  padding-left: 5px;
  margin-right: 30px;
  margin-bottom: 5px;
}
.fxt-template-layout2 .checkbox label {
  padding-left: 20px;
  color: #a4a4a4;
  margin-bottom: 0;
  font-size: 15px;
  position: relative;
}
.fxt-template-layout2 .checkbox label:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 0;
  margin-left: -5px;
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.fxt-template-layout2 .checkbox label:after {
  position: absolute;
  margin-left: -20px;
  padding-left: 3px;
  font-size: 10px;
  color: #555555;
}
.fxt-template-layout2 .checkbox input[type="checkbox"] {
  display: none;
}
.fxt-template-layout2 .checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f00c";
  font-weight: 900;
  color: #ffffff;
  left: 15px;
  top: 4px;
}
.fxt-template-layout2 .checkbox input[type="checkbox"]:checked + label::before {
  background-color: #ff0000;
  border-color: #ff0000;
}
.fxt-template-layout2 .fxt-footer {
  text-align: center;
}
.row{
    display: flex;
    gap: 5em;
}
.form-control {
   font-size: 15px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
    

  }

  .col-form-label {
   font-size: 15px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;

  }
  .pretty{
   font-size: 15px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;

  }


.results-label {
    font-size: 15px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
    width: 50%;
}
.results-amount {
    font-size: 15px;
    font-weight: 800;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
    width: 50%;
}